/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 62px;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  width: 740px;
  height: 96px;	
  content: "";
  clear: both;
  display: table;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

div.drawtileBox {
  position: fixed;
  top: 119px;
  left: 1000px;
  width: 62px;
  height: 82px;
  border: 3px solid #73AD21;
}

div.discardtileBox {
  position: fixed;
  top: 119px;
  left: 1100px;
  width: 62px;
  height: 82px;
  border: 3px solid #FF0000;
}

div.tilecountBox {
  position : fixed;
  top: 250px;
  left: 1000px;
  width: 20px;
  height: 30px;
  border: 3px solid black;
}
.button:hover {
  background-color: green;
}

.hidden: {
    display: none;
}

.unhidden {
    display: block;
}

